.highlights_wrapper {
  background-color: var(--primary_yellow);
}

.highlight01_container {
  padding: 100px;
  padding-top: 200px;
  flex-direction: column;
  text-align: center;
  h2 {
    width: 75%;
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
  }
}

.highlight01_card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 170px;
  background: url("../../assets/highlight01_card_bg.png") center no-repeat;
  background-size: contain;
  color: var(--primary_white);

  p {
    width: 400px;
  }
}

.highlight01_detail {
  width: 100%;
  height: 200px;
  position: absolute;
  align-self: flex-start;
  margin-top: -100px;
}

//highlight02

.highlight02_container {
  padding: 100px;
  padding-bottom: 200px;
}

.highlight02_text_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 60%;

  h2 {
    font-size: 50px;
    font-weight: 400;

    span {
      font-weight: 700;
    }
  }

  p {
    margin: 30px;
  }
}

.highlight02_text_bottom_card {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.highlight02_detail {
  width: 100%;
  height: 200px;
  position: absolute;
  align-self: flex-end;
  margin-bottom: -100px;
}

@media (max-width: 431px) {
  .highlight01_detail {
    height: 100px;
    margin-top: -50px;
  }

  .highlight01_container {
    padding-top: 150px;
    h2 {
      font-size: 25px;
    }
  }

  .highlight01_card {
    width: 100vw;
    background-size: cover;
    p {
      width: 90%;
      text-align: justify;
    }
      
  }

  //highlight02
  .highlight02_detail {
    height: 100px;
    margin-bottom: -50px;
  }

  .highlight02_container {
    padding-bottom: 150px;
    padding-left: 0;
    padding-right: 0;
    h2 {
      font-size: 25px;
    }

    .highlight02_text_container {
      width: 90%;
      p {
        width: 100%;
        text-align: justify;
      }
    }
  }
}
