.videos_wrapper {
  height: 100vh;
  background: url(../../assets/videos_bg.png) top no-repeat;
  background-size: cover;
  background-position: 0 100px;
}

.videos_container {
  width: 100%;
  padding: 100px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.videos_content_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.videos_video_card {
  h3 {
    margin-bottom: 30px;
    font-weight: 500;
  }

  p {
    margin-top: 30px;
    width: 560px;
  }
}
.videos_video_title_container {
  h2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 0.5;
  }
  span {
    font-size: 50px;
    font-weight: 700;
  }
}

.videos_button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 150px;
  height: 40px;
  border: 2px solid var(--primary_yellow);
  background-color: var(--primary_yellow);
  color: var(--primary_white);
  transition: all 0.3s linear;
  cursor: pointer;

  &:hover {
    background-color: var(--primary_white);
    color: var(--primary_yellow);
    transition: all 0.3s linear;
  }
}

//media query MOBILE
@media (max-width: 431px) {
  .videos_wrapper {
    height: auto;    
  }
  .videos_container {
    padding-left: 0;
    padding-right: 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .videos_content_container {
    flex-direction: column;    

    .videos_video_title_container {
      order: 1;
      text-align: center;
      h2 {
        font-size: 30px;
      }
      span {
        font-size: 30px;
      }
    }
    .videos_video_card {
      order: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-top: 30px;

      iframe {
        width: 90%;
        height: 220px;
      }

      h3 {
        font-size: 20px;
      }
      p {
        width: 90%;
      }
    }
  }
}