.routemap_wrapper {
  height: 100vh;
  max-height: 800px;
  background: url("../../assets/routemap_bg.png") center no-repeat;
  background-size: cover;
}

.routemap_container {
  flex-direction: column;
  p {
    width: 40%;
    text-align: justify;
  }
}

.routemap_map_card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 300px;
  background-color: var(--primary_yellow);
  margin: 30px;
  border: 2px solid var(--primary_darkblue);
}

.routemap_text_card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 170px;
  background: url("../../assets/routemap_card_bg.png") center no-repeat;
  background-size: contain;

  p {
    width: 400px;
  }
}

.routemap_searchbar {
  background-color: var(--primary_yellow);
  border-radius: 50px;
  width: 400px;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-family: "Montserrat", sans-serif;
  color: var(--primary_darkblue);
  border: 2px solid var(--primary_darkblue);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:focus {
    outline: none;
    border: 2px solid var(--primary_white);
  }
}

//RouteOptions
.routeOptions_wrapper {
  height: 100vh;
  max-height: 800px;
  background: url("../../assets/routeoptions_bg.png") center no-repeat;
  background-size: cover;
}

.routeOptions_container {
  width: 100%;
  padding-top: 100px;
  flex-direction: column;
  color: var(--primary_white);
  h2 {
    font-family: "Bilbo Swash Caps", cursive;
    font-size: 50px;
  }
  span {
    font-size: 60px;
    font-weight: 600;
  }
}

.routeOptions_cards_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px;
  height: 360px;
}

.routeOptions_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.route_card_title {
  margin-bottom: -15px;
  padding: 5px;
  width: 100px;
  background-color: var(--primary_yellow);
  z-index: 2;
  text-align: center;
  font-weight: 700;
  color: var(--primary_darkblue);
}

.route_card_img {
  height: 300px;
  width: auto;
  border: 4px solid var(--primary_white);
  border-radius: 35px;
  transition: all 0.3s linear;
  cursor: pointer;

  &:hover {
    height: 320px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s linear;
  }
}

.route_promo {
  margin-top: -15px;
  padding: 5px;
  width: 70px;
  background-color: var(--primary_red);
  z-index: 2;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
}

//media query MOBILE
@media (max-width: 431px) {
  .routemap_container {
    h3 {
      margin-bottom: 50px;
    }
  }
  .routemap_map_card {
    width: 350px;
    height: 200px;
  }
  .routemap_searchbar {
    width: 250px;
  }

  .routemap_text_card {
    margin-top: 20px;
    width: 100vw;
    background-size: cover;
    p {
      width: 90%;
      text-align: justify;
    }
  }

  //RouteOptions
  .routeOptions_wrapper {
    height: auto;
    max-height: fit-content;
    background-position: 78%;
  }
  .routeOptions_container {
    padding-bottom: 50px;
  }
  .routeOptions_cards_container {
    height: auto;
  }
  .routeOptions_card {
    padding-top: 20px;
    padding-bottom: 20px;
    .route_card_img {
      height: 200px;
      border-radius: 25px;
    }
  }
}
