.home_wrapper {
  height: 100vh;
  background: url(../../assets/home_bg.png) top no-repeat;
  background-size: cover;
  color: var(--primary_white);
}

.home_quote {
  background-color: var(--primary_sepia);
  width: 300px;
  padding: 30px;
  text-align: center;
  margin: 50px;
  margin-top: 200px;
  p {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  span {
    font-weight: 600;
  }
}

.home_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../../assets/home_card_mountains.png") top no-repeat;
  background-size: 450px;
  width: 100%;
  height: 100%;

  h2 {
    margin-top: 90px;
    font-family: "Kaisei Decol", serif;
    font-size: 55px;
  }

  h3 {
    font-family: "Bilbo Swash Caps", cursive;
    font-size: 50px;
    font-weight: 400;
    line-height: 0.5;
  }
}

.home_card_wrapper {
  width: 400px;
  height: 400px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home_button {
  cursor: pointer;
  padding: 10px;
  border: 3px solid var(--primary_white);
  border-radius: 50px;
  width: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s linear;

  &:hover {
    background-color: var(--primary_white);
    color: var(--primary_darkblue);
    transition: all 0.3s linear;
  }
}