.navbar_wrapper {
  position: fixed;
  width: 100%;
  z-index: 5;  
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding-top: 30px;
  padding-bottom: 30px; 
}

.navbar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  padding-left: 100px;
  padding-right: 100px;
  width: 100%;
  max-width: 1280px;  
}

#navbar_logo {
  padding: 15px;
}
.navbar_links_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1080px;
  font-size: 14px;
  font-weight: 600;
}

.navbar_button_normal {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-left: 5px;
  margin-right: 5px;

  &:hover {
    background-color: var(--primary_darkblue);
    color: var(--primary_white);
    transition: all 0.3s linear;

  }
}

.navbar_button_scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s linear;
  margin-left: 5px;
  margin-right: 5px;
  color: var(--primary_white);

  &:hover {
    background-color: var(--primary_white);
    color: var(--primary_darkblue);
    transition: all 0.3s linear;

  }
}

.nav_searchbar {
  background-color: var(--primary_white);
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 30px;

  .nav_search_icon {
    position: absolute;
    margin-left: 10px;
    color: var(--primary_yellow);
  }
  input {
    border: none;
    height: 30px;
    box-sizing: border-box;
    padding-left: 30px;
    font-family: "Montserrat", sans-serif;
    border: 2px solid var(--primary_white);
    border-radius: 30px;
    transition: all 0.3s linear;

    &:focus {
      outline: none;
      border: 2px solid var(--primary_darkblue);
      transition: all 0.3s linear;
    }
  }
}

.navbar_container_mobile {
  display: none;
}

//navbar collapse scroll
#navbar {
  transition: all 0.3s linear;
}

//media query MOBILE
@media (max-width: 431px) {

  .navbar_wrapper {
    width: 100%;
  }
  .navbar_container {
    display: none;
  }

  .navbar_container_mobile {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }

  #navbar_logo_mobile {
    margin-left: 40px;
    transition: all 0.3s linear;
    
  }

  #menu_icon_mobile {
    color: var(--primary_darkblue);
  }
  .MuiPaper-root {
    margin-right: 0px !important;
    #menu_icon_mobile {
      transition: all 0.3s linear;
    }
  } 

  .MuiMenu-root {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .MuiMenu-paper {    
    background-color: rgba(0, 0, 0, 0.7) !important;

    color: var(--primary_white) !important;
    width: 90vw;
    height: 50vh;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 90vw !important;
    left: auto !important;
    top: auto !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .MuiMenu-list {
    display: flex;
    flex-direction: column;   
    width: 100%;

    li {
      display: flex;
      justify-content: center;
      height: 60px;

      font-size: 22px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.20000000298023224px;    
    }
  }

  hr {
    width: 90%;
    align-self: center;
  }
}