.footer_wrapper {
  background-color: var(--primary_darkblue);
  color: var(--primary_white);
}

.footer_container {
  flex-direction: column;
  padding: 100px;
  width: 100%;
}

.footer_logo {
  margin-bottom: 50px;
}

.footer_cards_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  h4 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  p {
    width: 350px;
    font-size: 14px;
    text-align: justify;
  }
}

.footer_socialmedia {
  width: 280px;
}

.footer_socialmedia_icons_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer_socialmedia_card {
  display: flex;
  align-items: center;
  margin: 10px;

  .footer_socialmedia_text {
    margin-left: 10px;
    font-size: 14px;
  }
}
.footer_icon {
  border: 1px solid var(--primary_white);
  border-radius: 50%;
  padding: 4px;
}

//media query MOBILE
@media (max-width: 431px) {
  .footer_container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer_cards_container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer_about {
    margin-bottom: 30px;

    p {
      width: 100%;
    }
  }
}
