.experience_wrapper {
  height: 100vh;
  max-height: 1080px;
  min-height: 800px;
  background: url("../../assets/experience_bg.png") center no-repeat;
  background-size: cover;
}

.experience_container {
  flex-direction: column;
  align-self: flex-start;
  width: 100%;
  padding: 50px;
  h3 {
    font-size: 30px;
  }
}

.experience_cards_wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
}

.experience_card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  height: 300px;
  h4 {
    text-align: center;
    font-size: 40px;
    font-weight: 400;
  }
  hr {
    border: 0;
    border-top: 1px solid var(--primary_darkblue);
    width: 80%;
  }
  p {
    text-align: justify;
  }
}

.experience_button {
  cursor: pointer;
  padding: 10px;
  border: 3px solid var(--primary_darkblue);
  border-radius: 50px;
  width: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s linear;

  &:hover {
    background-color: var(--primary_darkblue);
    color: var(--primary_white);
    transition: all 0.3s linear;
  }
}

#experience_card_expanded {
  position: absolute;
  width: 80vw;
  height: 80vh;
  background-color: var(--primary_darkblue);
  z-index: 2;
  display: none;
}

@media (max-width: 431px) {
  .experience_wrapper {
    height: auto;
    max-height: fit-content;
  }

  .experience_container {
    h3 {
      margin-bottom: 20px;
    }
  }
  .experience_card {
    background-color: var(--primary_yellow);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    h4 {
      font-size: 30px;
    }

    .experience_button {
      &:hover {
        color: var(--primary_yellow);
      }
    }
  }
}
